In [22]:
import pandas as pd
import tensorflow
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
import pickle

In [23]:
data = pd.read_csv('Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [24]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [25]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [26]:
data[['Geography']]

     Geography
0       France
1        Spain
2       France
3       France
4        Spain
...        ...
9995    France
9996    France
9997    France
9998   Germany
9999    France

[10000 rows x 1 columns]

In [27]:
## One Hot encoding
ohe = OneHotEncoder()
geo_encoded = ohe.fit_transform(data[['Geography']])
geo_encoded

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [28]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [29]:
data_df = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [33]:
X = data_df.drop('EstimatedSalary', axis=1)
Y = data_df['EstimatedSalary']

In [34]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,random_state=42, train_size=0.2)

In [35]:
## Scaling
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [36]:
with open('label_encoder.pkl', 'wb')as file:
    pickle.dump(label_encoder, file)
with open('OneHotEncoder.pkl', 'wb') as file:
    pickle.dump(ohe, file)
with open('scaler.pkl', 'wb')as file:
    pickle.dump(scaler, file)

In [46]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from tensorflow.keras.layers import Dense
import datetime

In [44]:
model = Sequential([
    Dense(64,activation='relu', input_shape = (x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) ## Output layer for regression if we don't put anything than it takes linear activation function



])

/Users/yashjain/Downloads/Generative-AI/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [51]:
model.compile(optimizer='Adam', loss = 'mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_7 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [57]:
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%d%m%Y-%H%M%S")
callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
early_stopping = EarlyStopping(monitor = 'val_loss', patience=10, restore_best_weights=True)

In [58]:
history = model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=100, callbacks= [callback, early_stopping])

Epoch 1/100

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 49110.6289 - mae: 49110.6289 - val_loss: 50253.8281 - val_mae: 50253.8281
Epoch 2/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48772.1250 - mae: 48772.1250 - val_loss: 50258.6289 - val_mae: 50258.6289
Epoch 3/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48737.0469 - mae: 48737.0469 - val_loss: 50251.8242 - val_mae: 50251.8242
Epoch 4/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48354.0000 - mae: 48354.0000 - val_loss: 50254.2344 - val_mae: 50254.2344
Epoch 5/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48922.4336 - mae: 48922.4336 - val_loss: 50262.8359 - val_mae: 50262.8359
Epoch 6/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50049.4531 - mae: 50049.4531 - val_loss: 50260.3516 - val_mae: 50260.3516
Epoch 7/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48109.6797 - mae: 48109.6797 - val_loss: 50253.0977 - val_mae: 50253.0977
Epoch 8/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48081.6172 - mae: 48081.6172 - val_loss: 50258.6094 - val_mae: 50258.6094
Epoch 9/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48960.1680 - mae: 48960.1680 - val_loss: 50251.0586 - val_mae: 50251.0586
Epoch 10/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48909.1953 - mae: 48909.1953 - val_loss: 50251.7578 - val_mae: 50251.7578
Epoch 11/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49079.2461 - mae: 49079.2461 - val_loss: 50255.4844 - val_mae: 50255.4844
Epoch 12/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49231.8203 - mae: 49231.8203 - val_loss: 50253.6406 - val_mae: 50253.6406
Epoch 13/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48127.4727 - mae: 48127.4727 - val_loss: 50248.7852 - val_mae: 50248.7852
Epoch 14/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48533.9492 - mae: 48533.9492 - val_loss: 50250.2422 - val_mae: 50250.2422
Epoch 15/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 49269.0117 - mae: 49269.0117 - val_loss: 50247.3398 - val_mae: 50247.3398
Epoch 16/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49313.0977 - mae: 49313.0977 - val_loss: 50251.5898 - val_mae: 50251.5898
Epoch 17/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49183.4453 - mae: 49183.4453 - val_loss: 50244.2539 - val_mae: 50244.2539
Epoch 18/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48945.3828 - mae: 48945.3828 - val_loss: 50245.5508 - val_mae: 50245.5508
Epoch 19/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48554.8477 - mae: 48554.8477 - val_loss: 50251.8789 - val_mae: 50251.8789
Epoch 20/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48988.9453 - mae: 48988.9453 - val_loss: 50247.6445 - val_mae: 50247.6445
Epoch 21/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49385.5352 - mae: 49385.5352 - val_loss: 50244.6680 - val_mae: 50244.6680
Epoch 22/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50247.4766 - mae: 50247.4766 - val_loss: 50244.0234 - val_mae: 50244.0234
Epoch 23/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48686.5469 - mae: 48686.5469 - val_loss: 50245.9297 - val_mae: 50245.9297
Epoch 24/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48676.5703 - mae: 48676.5703 - val_loss: 50237.9531 - val_mae: 50237.9531
Epoch 25/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49237.2578 - mae: 49237.2578 - val_loss: 50240.2852 - val_mae: 50240.2852
Epoch 26/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48646.0078 - mae: 48646.0078 - val_loss: 50242.4570 - val_mae: 50242.4570
Epoch 27/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 48983.3516 - mae: 48983.3516 - val_loss: 50240.5352 - val_mae: 50240.5352
Epoch 28/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49388.8945 - mae: 49388.8945 - val_loss: 50244.8828 - val_mae: 50244.8828
Epoch 29/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49188.7305 - mae: 49188.7305 - val_loss: 50237.0156 - val_mae: 50237.0156
Epoch 30/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48362.9258 - mae: 48362.9258 - val_loss: 50238.4023 - val_mae: 50238.4023
Epoch 31/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 47867.3438 - mae: 47867.3438 - val_loss: 50241.7656 - val_mae: 50241.7656
Epoch 32/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48629.5625 - mae: 48629.5625 - val_loss: 50240.6602 - val_mae: 50240.6602
Epoch 33/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49232.2734 - mae: 49232.2734 - val_loss: 50237.5938 - val_mae: 50237.5938
Epoch 34/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48914.1445 - mae: 48914.1445 - val_loss: 50233.5117 - val_mae: 50233.5117
Epoch 35/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48724.6797 - mae: 48724.6797 - val_loss: 50234.0352 - val_mae: 50234.0352
Epoch 36/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 47587.6875 - mae: 47587.6875 - val_loss: 50237.5430 - val_mae: 50237.5430
Epoch 37/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 47691.4141 - mae: 47691.4141 - val_loss: 50238.6836 - val_mae: 50238.6836
Epoch 38/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 48370.1836 - mae: 48370.1836 - val_loss: 50242.7227 - val_mae: 50242.7227
Epoch 39/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48333.2344 - mae: 48333.2344 - val_loss: 50232.5117 - val_mae: 50232.5117
Epoch 40/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48298.7266 - mae: 48298.7266 - val_loss: 50236.7578 - val_mae: 50236.7578
Epoch 41/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50234.8555 - mae: 50234.8555 - val_loss: 50243.6953 - val_mae: 50243.6953
Epoch 42/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 47429.2578 - mae: 47429.2578 - val_loss: 50235.8125 - val_mae: 50235.8125
Epoch 43/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48278.5273 - mae: 48278.5273 - val_loss: 50240.1758 - val_mae: 50240.1758
Epoch 44/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49438.6992 - mae: 49438.6992 - val_loss: 50237.5664 - val_mae: 50237.5664
Epoch 45/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48002.4258 - mae: 48002.4258 - val_loss: 50237.1172 - val_mae: 50237.1172
Epoch 46/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48059.8359 - mae: 48059.8359 - val_loss: 50234.5273 - val_mae: 50234.5273
Epoch 47/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48605.1914 - mae: 48605.1914 - val_loss: 50235.5156 - val_mae: 50235.5156
Epoch 48/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49137.8828 - mae: 49137.8828 - val_loss: 50235.5000 - val_mae: 50235.5000
Epoch 49/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48662.2891 - mae: 48662.2891 - val_loss: 50226.2148 - val_mae: 50226.2148
Epoch 50/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50303.3984 - mae: 50303.3984 - val_loss: 50231.0898 - val_mae: 50231.0898
Epoch 51/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48996.8047 - mae: 48996.8047 - val_loss: 50230.3633 - val_mae: 50230.3633
Epoch 52/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48249.5820 - mae: 48249.5820 - val_loss: 50232.0703 - val_mae: 50232.0703
Epoch 53/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 48227.4609 - mae: 48227.4609 - val_loss: 50238.1406 - val_mae: 50238.1406
Epoch 54/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48398.8672 - mae: 48398.8672 - val_loss: 50227.1016 - val_mae: 50227.1016
Epoch 55/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48135.6055 - mae: 48135.6055 - val_loss: 50239.8164 - val_mae: 50239.8164
Epoch 56/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49875.9375 - mae: 49875.9375 - val_loss: 50236.8516 - val_mae: 50236.8516
Epoch 57/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 48621.5586 - mae: 48621.5586 - val_loss: 50235.2461 - val_mae: 50235.2461
Epoch 58/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 47809.7344 - mae: 47809.7344 - val_loss: 50237.1719 - val_mae: 50237.1719
Epoch 59/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49207.7969 - mae: 49207.7969 - val_loss: 50236.8867 - val_mae: 50236.8867

In [61]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [62]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6008 (pid 14770), started 0:00:20 ago. (Use '!kill 14770' to kill it.)

In [63]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(x_test, y_test)
print(test_loss, test_mae)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - loss: 50444.5664 - mae: 50444.5664
50226.21484375 50226.21484375

In [64]:
model.save('regression.keras')